{% extends "./base.html" %}

{% block title %} Gestion de Equipos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Equipo</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarEquipo/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{equipo.codigo_activo_fijo}}" class="form-control" placeholder="Código"
                               minlength="1" maxlength="30" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipo" name="txtTipo" value="{{equipo.tipo}}" class="form-control" placeholder="Tipo"
                               minlength="1" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtMarca" name="txtMarca" value="{{equipo.marca}}" class="form-control" placeholder="Marca"
                               minlength="1" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtModelo" name="txtModelo" value="{{equipo.modelo}}" class="form-control" placeholder="Modelo"
                               minlength="1" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtColor" name="txtColor" value="{{equipo.color}}" class="form-control" placeholder="Color"
                           minlength="1" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}